{% extends 'base.html' %}

{% block head %}
<title>Name</title>
{% endblock %}

{% block body %}
<h1>Welcome To Connect 4</h1>
<h2>Select A Game Mode:</h2>
<form action='/' method='POST'>
    <input type='submit' name='gameSelect' id='gameSelect' value='Player Vs. Player'>
    <input type='submit' name='gameSelect' id='gameSelect' value='Player Vs. Easy'>
    <input type='submit' name='gameSelect' id='gameSelect' value='Easy Vs. Easy'>
    <input type='submit' name='gameSelect' id='gameSelect' value='Player Vs. Medium'>
    <input type='submit' name='gameSelect' id='gameSelect' value='Medium Vs. Medium'>
</form>
{% endblock %}
