{% extends 'base.html' %}

{% block head %}
<title>Name</title>
{% endblock %}

{% block body %}
{{winner}}
<h1>Connect 4</h1>
<style>
    p {
        display: inline;
        font-size: 27
    }
</style>
{% for column in display %}
    {% for piece in column %}
        {% if piece == -1 %}
        <p style="color:red">&#9660;</p>
        {% elif piece == 1 %}
        <p style="color:yellow">&#9660;</p>
        {% else %}
        <p style="color:black">&#9661;</p>
        {% endif %}
        
    {% endfor %}
    <p><br></p>
{% endfor %}
<form action='/' method='POST'>
    <input type='submit' name='column' id='column1' value='1'>
    <input type='submit' name='column' id='column2' value='2'>
    <input type='submit' name='column' id='column3' value='3'>
    <input type='submit' name='column' id='column4' value='4'>
    <input type='submit' name='column' id='column5' value='5'>
    <input type='submit' name='column' id='column6' value='6'>
    <input type='submit' name='column' id='column7' value='7'>
    <input type='submit' name='restart' id='restart' value='Restart'>
</form>

{% endblock %}
