{% extends 'base.html' %}

{% block head %}
<title>Name</title>
{% endblock %}

{% block body %}
<h1>Connect 4</h1>
{% if winner == 2 %}
    <h2 style ="color:rgb(223, 223, 223)"> Draw </h2>
{% elif winner == 1 %}
    <h2 style ="color:red"> Red Wins! </h2>
{% elif winner == -1 %}
    <h2 style ="color:yellow"> Yellow Wins! </h2>
{% elif color == -1 %}
    <h2 style ="color:red"> Red's Turn </h2>
{% elif color == 1 %}
    <h2 style ="color:yellow"> Yellow's Turn </h2>
{% endif %}
<style>
    p {
        display: inline;
        font-size: 46;
        line-height:22px;
        margin:0px
    }
</style>
{% for column in display %}
    {% for piece in column %}
        {% if piece == 1 %}
        <p style="color:red">&#9679;</p>
        {% elif piece == -1 %}
        <p style="color:yellow">&#9679;</p>
        {% else %}
        <p style="color:black">&#9675;</p>
        {% endif %}
        
    {% endfor %}
    <p><br></p>
{% endfor %}
<form action='/mediumVsMedium' method='POST'>
    <input type='submit' name='reset' id='reset' value='Reset'>
    <input type='submit' name='home' id='home' value='Home'>
</form>
{% if winner == 0 %}
<form action='/mediumVsMedium' method='POST'>
    <input type='submit' name='next' id='next' value='Next'>
    <input type='submit' name='fullGame' id='fullGame' value='Full Game'>
</form>
{% endif %}
{% endblock %}