{% extends 'base.html' %}

{% block head %}
<title>Name</title>
{% endblock %}

{% block body %}
<h1>Connect 4</h1>
{% if winner == 2 %}
    <h2 style ="color:rgb(66, 66, 66)"> Draw </h2>
{% elif winner == 1 %}
    <h2 style ="color:red"> Red Wins! </h2>
{% elif winner == -1 %}
    <h2 style ="color:yellow"> Yellow Wins! </h2>
{% elif color == 1 %}
    <h2 style ="color:red"> Red's Turn </h2>
{% elif color == -1 %}
    <h2 style ="color:yellow"> Yellow's Turn </h2>
{% endif %}
<style>
    p {
        display: inline;
        font-size: 46;
        line-height:22px;
        margin:0px
    }
</style>
{% for column in display %}
    {% for piece in column %}
        {% if piece == 1 %}
        <p style="color:red">&#9679;</p>
        {% elif piece == -1 %}
        <p style="color:yellow">&#9679;</p>
        {% else %}
        <p style="color:black">&#9675;</p>
        {% endif %}
        
    {% endfor %}
    <p><br></p>
{% endfor %}
{% if winner == 0%}
    <form action='/playerVsEasy' method='POST'>
        <input type='submit' name='column' id='column1' value='1'>
        <input type='submit' name='column' id='column2' value='2'>
        <input type='submit' name='column' id='column3' value='3'>
        <input type='submit' name='column' id='column4' value='4'>
        <input type='submit' name='column' id='column5' value='5'>
        <input type='submit' name='column' id='column6' value='6'>
        <input type='submit' name='column' id='column7' value='7'>
        <input type='submit' name='reset' id='reset' value='Reset'>
    </form>
{% else %}
<form action='/playerVsEasy' method='POST'>
    <input type='submit' name='reset' id='reset' value='Reset'>
</form>
{% endif %}
<p></p>
<form action='/playerVsEasy' method='POST'>
    <input type='submit' name='home' id='home' value='Home'>
</form>
{% endblock %}
